* {
    /* border: 2px solid black; */
    color: #777777;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


.bodyContainer {
    clear: both;
    height: 100%;
    background-image: url("../images/quiz.jpg");
    overflow: auto;
}

.innerContainer {
    width: 70%;
    height: 100%;
    /* margin-right: 150px; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* padding-top: 10px; */
    border: 2px solid #dddddd;
    /* overflow: auto; */
}

.innerContainer:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.innerContainer hr {
    /* display: block; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10px;
    margin-right: 10px;
    border-style: inset;
    border-width: 1px;
    color: #dddddd;
}

.innerContainer h2 {
    /* margin-left: 10px; */
    text-align: center;
    font-size: 44;
    /* font-family: 'Gloria Hallelujah', cursive; */
    font-family: 'Rock Salt', cursive;
    color: #4a60aa;
}

.qAndA, .button {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20;
}

/* Responsive stuff here.... */
/* laptop */
/* @media screen and (min-width: 787px) and (max-width: 980px) {
    .bodyContainer {
        width: 800px;
    }    
    .innerContainer {
        width: 450px;
    }
} */
/* tablet  */
/* @media screen and (min-width: 641px) and (max-width: 786px) {
    .bodyContainer {
        width: 640px;
    }    
    .innerContainer {
        width: 380px;
    }
} */
/* phone */
/* @media screen and (max-width: 640px) {
    .bodyContainer {
        width: 500px;
    }    
    .innerContainer {
        width: 300px;
    }    
} */